{% extends 'users/common/templates.html' %}
{% load staticfiles %}
{% block formstyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
{% block title %}
    登录
{%  endblock %}
{% block content %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
    {% csrf_token %}
        <div>
        账户：<input type="text" required name="username"><br>
            {% if msg1 %}
                <p style="color: red;">{{ msg1 }}</p>
            {% endif %}
        密码: <input type="password" name="pwd" required><br>
            {% if msg2 %}
                <p style="color: red;">{{ msg2 }}</p>
            {% endif %}
        <input type="submit" value="登录" style="float: right;">
        <button style="float: right;margin-right: 20px"><a href="{% url 'users:register' %}">注册</a></button>
        </div>
    </form>
{% endblock %}

