<style>
    body{
        margin-top: 0;
    }
    #header{
        overflow: hidden;
        height: 42px;
    }
    h1{
        margin:0;
        float: left;
    }
    p{
        margin:0;
    }
    li{
        list-style: none;
        height: 100%
    }
    #header ul{
        float: right;
        height: 100%;
        position: relative;
        margin:  0 0 0 60px;
    }
    #header a{
        text-decoration: none;
        background-color: aqua;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    a{
        text-decoration: none;
        color: black;
    }
    hr{
        margin: 0;
    }
</style>

