<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form method="post" action="/register">
        用户名:<input type="text" name="username" required><br>
        密码：<input type="password" name="pwd" required><br>
        确认密码：<input type="password" name="'repwd" required><br>
        真实姓名<input type="text" name="realname" required><br>
        <input type="submit" value="注册">
        <% if(msg) {%> <p style="color:red"><%= msg %></p><% } %>
    </form>

</body>
</html>